// colors
$title-text-color: #000000;
$main-bg-color: #ffffff;
$secondary-bg-color: #f0f0f2;
$text-color: #7a7a7a;
$orange: #e75f3b;

$font-family: Space Grotesk;

//Media device sizes
$desktop: 1200px;
$mobile: 428px;

// Animation
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
