//-------------------------------
//* HEADER
header{
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 3%;

    @media screen and (min-width:$tablet){
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media screen and (min-width:$desktop){
        font-size: 14px;
    }
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:$white;
    @media screen and (max-width:$tablet){
        display: none;
    }
}

.mobile-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:$white;
    @media screen and (min-width:769px){
        display: none;
    }
}

.is-active{
    margin-bottom: 4px;
    border-bottom: 1px solid $white;
}

.header-logo{
    width: 32px;
    @media screen and (min-width:$desktop){
        width: 60px;
    } 
}

footer{
    height: 36px;
    background-color: $black;

    .footer-list{
        display: none;
        @media screen and (min-width:$tablet){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            color:white
        }
    }

    @media screen and (min-width:$tablet){
        height: auto;
    }
}