.invitae-logo {
  max-width: 1200px;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    max-width: 100%;
    margin: auto;
  }
}

.margin {
  margin-bottom: 40px;
}
