.invitae-video-first-section {
  margin-bottom: 80px;
  margin-top: 40px;

  @media screen and (max-width: $mobile) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.invitae-video-second-section {
  margin-bottom: 80px;
  margin-top: 40px;

  @media screen and (max-width: $mobile) {
    margin-top: 40px;
  }
}
