.page-kilimonjaro{
    .kilimonjaro-hero{
        background-color: $black;
        padding-bottom: 60px;

        @media screen and (min-width:$tablet) {
            padding-bottom: 36px;
        }

        h1{
            margin-bottom: 16px;
            @include heading();
            max-width: 150px;

            @media screen and (min-width:$tablet) {
                max-width: 220px;
                margin-bottom: 28px;
            }
        }

        p{
            @include text-description();
            color:$white;
            margin-bottom: 28px;
            @media screen and (min-width:$tablet) {
                margin-bottom: 48px;
            }
        }

        .kilimonjaro-hero-wrapper{
            @media screen and (max-width:$tablet) {
                    padding-top: 20px;
            }
            @media screen and (min-width:$desktop) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

        }

        .contact-us-btn{
            color:$white;
            @media screen and (max-width:$tablet) {
                width: 100%;
                text-align: center;
            }
        }

        .hero-description{
            margin-top: 24px;

            @media screen and (max-width:$tablet) {
                margin-top: 120px;
            }
            @media screen and (min-width:$desktop) {
                flex-basis: 30%;
            }
            
        }


        //* Image wrapper
        .kilimonjaro-mount{
            grid-area: mount;
            overflow:hidden;
            object-fit: contain;
        }

        .kilimonjaro-tables{
            grid-area: tables;
            overflow:hidden;
            object-fit: contain;
        }

        .kilimonjaro-mountain{
            grid-area: mountain;
            overflow:hidden;
            object-fit: contain;
        }

        .kilimonjaro-trekking{
            grid-area: trekking;
            overflow:hidden;
            object-fit: contain;
        }

        .kilimonjaro-person{
            overflow:hidden;
            object-fit: contain;
            grid-area: person;
        }

        .kilimonjaro-mountains{
            overflow:hidden;
            object-fit: contain;
            grid-area: mountains;
            @media screen and (max-width:767px) {
                display: none;
            }
        }
        
        .kilimonjaro-umbwe{
            overflow:hidden;
            object-fit: contain;
            grid-area: umbwe;
            @media screen and (max-width:767px) {
                display: none;
            }
        }

        .kilimonjaro-person-green{
            grid-area: person;
            overflow:hidden;
        }
        


        .mobile-image-wrapper{
            display: grid;
            gap:4px;
            grid-template-areas: "mount mount tables tables mountain mountain"
            "mount mount tables tables mountain mountain"
            "mount mount person person person person";
            @media screen and (min-width:$desktop) {
                display: none;
            }
            img{
                height: 100%;
            }
        }


        .desktop-image-wrapper{
            display: none;
            @media screen and (min-width:$desktop) {
                display: grid;

            }

            @media screen and (min-width:$desktop) {
                order: 1;
                flex-basis: 60%;
            }

            .first-wrapper{
                display: grid;
                gap: 8px;
                grid-template-areas: "person person trekking trekking trekking";
                img{
                    height: 100%;
                }
            }

            .second-wrapper{
                margin-top: 6px;
                display: grid;
                gap: 8px;
                max-height: 450px;
                grid-template-areas: "mount mount tables tables mountain mountain"
                                    "mount mount person person person person";

                img{
                    height: 100%;
                }
            }
        }

    }

    //-----------------------------------
        //* Second section
    .kilimanjaro-second-section{
        p{
            @include text-description();
            color:$black;  
        }
        
        padding-bottom: 362px;
        padding-top: 60px;

        @media screen and (min-width:$tablet) {
            padding-top: 120px; 
        }
        //* Background image
        background-image: url('../../images/kilemanjaro/mountain-hero-mobile-min.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 85%;
        @media screen and (min-width:$tablet) {
            background-image: url('../../images/kilemanjaro/mountain-hero-min.jpg');
            background-position: 100% 100%;
        }
        @media screen and (min-width:1600px) {
            background-size: cover;
        }
    }





    .topic-fixed-picture{
        display: flex;
        flex-direction: column;
        @media screen and (min-width:$tablet){
        flex-direction: row;
        justify-content: space-between;
        gap:10vw;
        }

        @media screen and (min-width:$desktop){
            gap: 60px;
        }
        
        .topic-description{
            padding-top: 12px;

            h2{
                @include subheading();
            }

            @media screen and (min-width:$tablet){
                flex-basis: 55%;
                padding-top: 20px;
            }
        }

        .topic-description-text{
            margin-top: 10px;
            margin-bottom: 24px;
            @include heading-description();
        }
    
        .fixed-image-wrapper{
            position: relative;
        @media screen and (min-width:$tablet){
            flex-basis: 45%;
            max-width: 45%;
            // position: absolute;
            // top: 10%;
            // right: -15%;
        }
        }

        .relative-image-wrapper{
            position: relative;
        }
    
    
        .mobile-only{
        display: block;
        margin-bottom: 46px;
            @media screen and (min-width:$tablet){
                display: none;
            }
        }
    
        .tablet-only{
        display: none;
        @media screen and (min-width:$tablet){
            display: block;
            position: sticky;
            top: 15px;
        }
        }

        .days-list{
        margin-top: 46px; 
        margin-bottom: 32px;
        }

        .day-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 22px 10px;
            @media screen and (min-width:$tablet){
                padding: 15px 10px;
            }
            p{
                margin: 0;
            }
        }

        .days-arrow{
            display: block;

        }

        .days-item:hover{
            cursor: pointer;
        }

        .day{
        flex-basis: 15%;
            @include uppercase-list-heading();
            color:$text-primary-color;
            font-weight: 500;
        }

        .day-description{
            flex-basis: 65%;
            @include heading-description();
            @media screen and (min-width:$tablet) {
                max-width: 55%;
            }
        }

        hr{
            margin: 0;
        }

        .hided-description-list{
            display: none;
            animation: rotateMenu 400ms ease-in-out forwards;
            transform-origin: top center;
        }

        .hided-description-item{
            margin-bottom: 18px;
        
            &:not(:first-child){
                margin-top: 36px;
            }
            &:first-child{
                margin-bottom: 23px;
            }
        
            h2{
                display: block;
                @include uppercase-list-heading();
                @media screen and (min-width:$desktop) {
                    margin-right: 28px;
                    min-width: 150px;
                }
            }
            
            .hided-description-day{
                display: block;
                
                @include uppercase-list-heading(); 
                @media screen and (min-width:$desktop) {
                    padding-left: 10px;
                }
            }
        
            p{
                margin-top: 16px;
                @include heading-description();

                @media screen and (min-width:$tablet) {
                    margin-top: 4px;
                }  
            }
        
            @media screen and (min-width:$desktop) {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        .wrapper-heading{
            @include uppercase-list-heading(); 
        }

        .wrapper-description{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @media screen and (min-width:$tablet) {
                flex-direction: row;
            }

            p{
                @include heading-description(); 
                display: block;
                margin-right: 8px;
                margin-bottom: 4px;
            }
        }

        //* Prices of tour wrapper
        .prices-wrapper{
            display: flex;
            justify-content: center;
            flex-direction: column;

            border: 1px solid $bg-dark-color;

            @media screen and (min-width:$tablet) {
                padding-top: 0px;
                padding-bottom: 0;
            }
        }

        .button-wrapper{
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 8px;
            padding-bottom: 8px;
            
            p{
                margin: 0 11px 0 0;
                @include text-description();
                color:$text-primary-color;
            }

            @media screen and (min-width:$tablet) {
                display: none;
                margin-bottom: 15px;
            }
        }

        .marangu-arr-bottom, .marangu-price-arr-bottom, .machame-arr-bottom,.machame-price-arr-bottom,
        .rongai-arr-bottom,.rongai-price-arr-bottom,.lemosho-arr-bottom,.lemosho-price-arr-bottom,.umbwe-arr-bottom,
        .umbwe-price-arr-bottom,.northern-circuit-arr-bottom,.northern-circuit-price-arr-bottom,
        .meru-arr-bottom,.meru-price-arr-bottom{
            display: block;
        }

        .marangu-arr-up,.marangu-price-arr-up,.machame-price-arr-up,.machame-arr-up,
        .rongai-arr-up,.rongai-price-arr-up,.lemosho-arr-up,.lemosho-price-arr-up,.umbwe-arr-up,
        .umbwe-price-arr-up,.northern-circuit-arr-up,.northern-circuit-price-arr-up,.meru-arr-up,
        .meru-price-arr-up{
            display: none;
        }

        .marangu-table{
            display: none;
        }

        .prices-wrapper-list{
            display: none;
            animation: rotateMenu 400ms ease-in-out forwards;
            transform-origin: top center;
            flex-direction: column;
            @media screen and (min-width:$tablet) {
                display: flex;
            }
        }


        .prices-table {
            display: none;
            animation: rotateMenu 400ms ease-in-out forwards;
            transform-origin: top center;
            border-collapse: collapse;
            @media screen and (min-width:$tablet) {
                display: table;
                text-align: left;
            }

            th{
                padding-top: 6px;
                padding-bottom: 6px;
            }

            th:first-child{
                padding-left: 20px;
            }
        }

        .prices-table-item{
            p{
                @include text-description();
            }

            b{
                font-weight: 500;
            }
        }

        .prices-table-item:nth-child(2n){
            background-color: $bg-main-color;
        }

        .prices-table-heading{
            p{
                @include uppercase-list-heading();
                font-size: 10px;
                font-weight: 500;
            }
            
        }
    }



    //* Marangu section
    .marangu-section,.meru-section,.machame-section,.rongai-section,
    .lemosho-section,.umbwe-section,.northern-circuit-section,.section-hints
    ,.mount-kilimanjaro-hero-bottom-section{
        padding-top: 80px;
        @media screen and (min-width:$tablet) {
            padding-top: 115px;
        }
    }



    //* Package section
    .package-section{
        padding-top: 100px;
        @media screen and (min-width:$tablet) {
            padding-top: 169px;
        }

        .mobile-only{
            display: block;
            @media screen and (min-width:$desktop) {
                display: none;
            }
        }

        .desktop-only{
            display: none;
            @media screen and (min-width:$desktop) {
                display: flex;
            }
        }
    }

    .package-list-general{
        flex-direction: column;
        @media screen and (min-width:$desktop) {
            flex-direction: row;
        }

        h2{
            z-index: 10;
            padding-left: 55px;
            @media screen and (min-width:$desktop) {
                padding-left: 0;
            }
        }
    }

    .package-list-wrapper{
        z-index: 10;
        @media screen and (min-width:$desktop) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            gap:45px;
        }
    }


    .package-list{
        padding-left: 50px;
        @media screen and (min-width:$desktop) {
            max-width: 33%;
            padding-left: 0;
        }
    }

    @media screen and (min-width:$desktop) {
        .price-includes-section{
            flex-basis: 65%;
            padding-right: 45px;
        }

        .price-excludes-section{
            flex-basis: 35%;
            padding-left: 45px;
            background-color: $white;
            ul{
                max-width: 100%;
            }
        }
    }

    .custom-blue-background{
        position: absolute;
        background-color: $bg-light-color;
        z-index: 0;

        height: 100%;
        top: 0;
        left: -20vw;
        width: 120vw;

        @media screen and (min-width:$desktop) {
            left: -60vw;
            width: 120vw;
        }
        @media screen and (min-width:2000px) {
            left: -80vw;
        }
        @media screen and (min-width:2800px) {
            left: -90vw;
        }
    }

    .package-list-buttons{
        cursor: pointer;
        z-index: 10;
        @media screen and (min-width:$desktop) {
            display: none;
        }
        .left{
            position: absolute;
            top: 50%;
            left: 0%;
        }

        .right{
            position: absolute;
            top: 50%;
            right: 0;
        }
    }

    .package-item-heading{
        padding-left: 0 !important;
    }

    //-------------------------------
    //* hints sectoions
    .section-hints{
        h2{
            @include subheading();
            padding-bottom: 20px;

            @media screen and (min-width:$tablet) {
                padding-bottom: 34px;
            }
        }

        h5{
            @include uppercase-list-heading();
        }

        hr{
            margin: 0;
        }

        .hints-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px 20px 0;

            @media screen and (min-width:$tablet){
                padding: 30px 10px 30px 0px;
            }
        }

        .hints-list{
            display: flex;
            flex-direction:column;
            @media screen and (min-width:$desktop){
                display: grid;
                grid-template-areas: "one five"
                "two six"
                "three seven"
                "four eight";
                grid-template-columns: 1fr 1fr;
            }
        }

        .hints-item{
            @media screen and (min-width:$desktop){
                margin-right: 30px;
            }
        }

        .one{
            grid-area: one;
        }
        .two{
            grid-area:two;
        }
        .three{
            grid-area: three;
        }
        .four{
            grid-area: four;
        }
        .five{
            grid-area: five;
        }
        .six{
            grid-area: six;
        }
        .seven{
            grid-area: seven;
        }
        .eight{
            grid-area: eight;
        }

        .hints-one-bottom,.hints-two-bottom,.hints-three-bottom,
        .hints-four-bottom,.hints-five-bottom,.hints-six-bottom,
        .hints-seven-bottom,.hints-eight-bottom{
            display: block;
        }
        
        .hints-one-up,.hints-two-up,.hints-three-up,.hints-four-up,
        .hints-five-up,.hints-six-up,.hints-seven-up,.hints-eight-up{
            display: none;
        }

        .hints-hided{
            display: none;
            animation: rotateMenu 400ms ease-in-out forwards;
            transform-origin: top center;
            padding-bottom: 23px;
        }

        .hints-hided-item{
            @include text-description();
            padding-left: 15px;
            position: relative;

            &::before{
                position: absolute;
                content: '●';
                display: block;
                margin-left: 8px;
                top: 0%;
                left: -10px;
                font-size: 10px;
            }

            p{
                padding-top: 0;
            }
        }
        .hints-hided-item:not(:last-child){
            margin-bottom: 10px;
        }

        .hints-description{
            @include text-description();
            padding-top: 28px;

            b{
                font-weight: 500;
            }
        }

        .hints-description:not(:last-child){
            padding-bottom: 10px;
        }
    }



    //* Mount kilimonharo hero bottom section
    .mount-kilimanjaro-hero-bottom-section{
        padding-bottom: 362px;
        padding-top: 60px;

        @media screen and (min-width:$tablet) {
            padding-top: 120px; 
        }
        //* Background image
        background-image: url('../../images/kilemanjaro/hero-bottom-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 15%;
        @media screen and (min-width:$tablet) {
            background-size: contain;
            background-image: url('../../images/kilemanjaro/hero-bottom-desktop.jpg');
            background-position: 100% 100%;
        }

        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                @include subheading();
                text-align: center;
                @media screen and (min-width:$desktop) {
                    max-width: 80%;
                }
            }

            .contact-us-btn-blue{
                margin-top: 40px;
            }
        }
    }

    //------
    //* Contact us section
    .contact-us{
        background-color: $white;
    }
}